.pageContent {
  margin-left: 250px;       /* reserva espaço da sidebar */
  margin-top: 20px;         /* espaço do header (mesmo valor da altura dele) */
  padding: 4rem;            /* espaçamento interno normal */
   /* altura ajustada sem o header */
  box-sizing: border-box;
  background: #f9f9f9;
}
