/* src/App.css - Estilos de Layout para MainLayout, Header, Sidebar */




.logged-in-user {
  font-weight: bold;
  font-size: 1.1em;
}

.logout-button {
  background-color: #dc3545; /* Botão Sair vermelho */
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 0.9em;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.logout-button:hover {
  background-color: #c82333;
  color: white;
}
